@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lato:wght@300&family=Lobster&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-width: 100vw;
    display: flex;
    flex-direction: column;

    /* Generic project style */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
#topnavi {
    background-color: whitesmoke;
    padding: .20rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#topnavi a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #242925;
}

h1 {
    font-family: 'Lobster', sans-serif;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: .5em;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    left: 0;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#hero {
    margin-top: 47px;
    width: 100%;
    height: 200px;
    background: url("../images/mt-pulag-hero.webp") no-repeat center center/cover;
    position: relative;
    box-shadow: none;
}

#hero:after {
        content:""; 
        position: absolute; 
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        height: 40%;  ;
}

#cover-text {
    background-color: transparent;
    font-size: 80%;
    font-family: 'Abel', sans-serif;
    position: absolute;
    top: 10px;
    width: 80%;
    min-height: 60px;
    padding-top: 0;
    padding-left: 10px;
}

#cover-text > h3 {
    font-size: 90%;
}

/* Main Content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    background-image: url("../images/logo-black.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: color-dodge;
    background-color: #e3e3e3;
    background-position-y: 20%;
}

.main-content {
    padding: 10px;
}

#what-to-bring {
    text-align: justify;
    padding-left: 10%;
}

#what-to-bring > ul {
    list-style-type: circle;
}
/* Gallery */

div.scroll-gallery {
    background-color: rgba(245, 245, 245, .5);
    overflow: auto;
    white-space: nowrap;
    padding: 10px 5px;
  }
  
div.scroll-gallery img {
    padding: 5px;
    width: 300px;
    height: 200px;
  }

.hidden-header {
    display: none;
}

/* Trail */

#trail {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

/* Signup form */
#sign-up {
    background-image: url("../images/tree-mtpulag.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}


#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}


.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #82940d;
    color: #fafafa;
}

/* Footer */
#contacts {
    text-align: center;
    display: block;
    list-style-type: none;
}

#contacts i {
    padding-top: 10px;
    color: #242925;
}
#social-networks {
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #242925;
}

footer > h3 {
    padding-top: 10px;
}

footer > h4 {
    font-size: 90%;
}

footer > h3, h4 {
    text-align: center;
}



/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
     #menu {
        display: flex;
     }

     #menu > li {
        padding-left: 1rem;
     }

     .nav-toggle-label {
        display: none;
     }

     #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
     }

     #hero {
        margin-top: 82px;
     }

     /* Main content */
     main {
        margin-top: 0;
     }

     #about-us {
        text-align: center;
     }
     /* Gallery */
     div.scroll-gallery img {
        width: 350px;
        height: 250px;
      }

     /* Trails */
     #trail {
        padding: 0 15%;
     }

     /* Signup form*/
     #signup {
        background-position: center;
        position: absolute;
    }

    #signup-form {
        max-width: 400px;
        position: relative;
        left: 10%;
        bottom: 10px;
    }

    .text-input:hover {
        border-color: #71e121f8;
    }

    .join-button:hover {
        background-color: #ffffff;
        color: #454b1b;
    }

    /* Footer */
    footer > div {
        column-count: 2;
    }
    #contacts {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        padding-top: 15px;
    }
    
    #contacts i {
        padding-top: 5px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Navbar */
    #menu a:hover{
        border-bottom: 1px solid #242925;
    }
    
    /* Gallery */
    div.scroll-gallery img {
        width: 500px;
        height: 300px;

    /* Trails */

    /* Signup */

    /* Footer */
}