@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lato:wght@300&family=Lobster&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    /* Generic project style */
    color: #000a14;
    font-family: 'Lato', sans-serif;
}

/* Header */
#topnavi {
    background-color: #fdfffc;
    padding: 0.2rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#topnavi a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #000a14;
}

h1 {
    font-family: 'Lobster', sans-serif;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: .5em;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #fdfffc;
    width: 100%;
    left: 0;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

#hero {
    margin-top: 47px;
    width: 100%;
    height: 200px;
    background: url("../images/mt-pulag-hero.webp") no-repeat center center/cover;
    position: relative;
    box-shadow: none;
}

#hero:after {
        content:""; 
        position: absolute; 
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        height: 40%;
}

#cover-text {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 80%;
    text-align: center;
    font-family: 'Abel', sans-serif;
    position: absolute;
    top: 0;
    left: 10px;
    width: fit-content;
    min-height: 60px;
    padding: 5px;
}

#cover-text > h3 {
    font-size: 90%;
}

/* Main Content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    width: 100%;
    background: #CCE0CC url("../images/logo-no-background.webp") center/contain no-repeat fixed;
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
    min-height: 52vh;
}

.main-content {
    padding: 5px;
    line-height: 1.5;
}

.main-content > h2 {
    text-align: center;
}

/* About us */
#aboutus {
    padding: 10% 5% 5%;
    text-align: center;
}
#what-to-bring {
    text-align: left;
    padding-left: 10%;
}

#what-to-bring > ul {
    list-style-type: circle;
}

/* Gallery */
div.scroll-gallery {
    background-color: rgba(245, 245, 245, .5);
    overflow: scroll;
    white-space: nowrap;
    padding: 5px;
  }
  
div.scroll-gallery img {
    padding: 5px;
    width: 100%;
    height: 100%;
  }

/* Popular trails */

#trail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 2%;
}

#trail > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sched {
    align-self: flex-start;
}

#coming-soon {
    border: 2px solid red;
    animation: blink 2s linear infinite;
    padding: 5px;
}

@keyframes blink { 50% { border-color:#fff ; }  }

#coming-soon > h2 {
    color: red;
    text-align: center;
    animation: blinker 2s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0; }
  }

#trail img {
    width: 100%;
    height: 100%;
}

/* Signup form */
#sign-up {
    background-image: url("../images/tree-mtpulag.webp");
    background-size: cover;
    background-position: 75%;
    position: relative;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#sign-up:before {
    content:""; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    height: 10%;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.9);
    padding: 30px;
}

#signup-form>h2 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.text-input {
    background: transparent;
    color: #ffffff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
}

.trail-choices {
    padding-bottom: 10px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #ffffff;
    color: #000a14;
    font-weight: bold;
}

/* Response page */
#response-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    padding-top: 15%;
}

#response-text h2 {
    font-size: 200%;
    font-weight: 900;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

#contact_us {
    display: flex;
    justify-content: center;
    width: 100%;
}
.contacts {
    text-align: center;
    list-style-type: none;
}

.contacts i {
    font-size: 130%;
    padding-top: 10px;
    color: #242925;
}

#social_media {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.social-networks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 10px;
}

.social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #242925;
}

footer > h3 {
    padding-top: 10px;
}

footer > h4 {
    font-size: 90%;
}

footer > h3, h4 {
    text-align: center;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    body {
        font-size: larger;
    }

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #hero {
        margin-top: 82px;
    }

    /* Main content */
    main {
        margin-top: 0;
    }

    /* About us */
    #aboutus {
        text-align: center;
        padding: 5% 15%;
    }

    /* Gallery */
    div.scroll-gallery img {
        width: 40%;
        height: 40%;
    }

    /* Popular Trails */
    #trail {
        padding: 0 15%;
    } 

    #trail img {
        width: 75%;
        height: 75%;
    }
    
    /* Signup form*/
    #signup {
        background-position: center;
        position: absolute;
    }

    #signup-form {
        max-width: 400px;
        position: relative;
        left: 10%;
        bottom: 10px;
    }

    #sign-up:before {
        height: 20%;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Navbar */
    #menu a:hover{
        border-bottom: 1px solid #242925;
    }
    
    /* Gallery */
    div.scroll-gallery img {
        width: 45%;
        height: 45%;
    }

    /* Signup */
    .text-input:hover {
        border-color: #0C6dd4;
    }

    .join-button:hover {
        background-color: #0C6dd4;
        color: #ffffff;
    }

    #response-text {
        padding-top: 10%;
    }

    /* Footer */
    footer > div {
        display: flex;
        flex-direction: row;
    }

    #contact_us {
        flex-direction: row;
    }

    .contacts {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .social-networks i:hover {
        color: #0C6dd4;
    }
}